* {
    font-size: 1em;
}

.clean-input {
    border: none;
    box-shadow: none;
    background: none;
    font-size: inherit;
}
.clean-input:hover,
.clean-input:active,
.clean-input:focus {
    border: none;
}

.page-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 10px;
}

.page-header-with-background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 10px;

    min-height: 300px;
}

.page-header h3 {
    color: white;
}

.section-image {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.media img {
    max-width: 120px;
    height: auto;
}

#privacy li {
    display: inline-block;
    margin: 5px;
}