.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.daytranslations.com/blog/wp-content/uploads/2015/09/DayTranslationsBlog-5-Effective-Tips-to-Improve-Your-Typing-Skills.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.jumbotron {
    color: white;
}