{% extends 'layouts/base.html' %}

{% block content %}
	<div class="container">
        <div class="page-header" style="min-height:150px">
          <h1> Textos de {{ user.name }} <small></small></h1>
            {% if user.id == current_user.id %}
                <p>
                Crie algo novo!
                </p>
                <button type="button" class="btn btn-default" onclick="window.location.href='{{ url_for('writing.new') }}'">
                    Criar
                </button>
            {% endif %}
        </div>
        <div class="">
            {% if items %}
            <ul class="media-list">
                {% for item in items %}
                    <li class="media">
                      <div class="media-left">
                         <a href="{{ url_for('writing.detail', writing_id=item.id) }}">
                           <img src="{{ item.cover }}" alt="{{ item.title }}">
                        </a>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading"> {{ item.title }}
                            <small> {{ item.caption }} </small>
                        </h3>
                            {% if item.themes %}
                                <div>
                                    <span>Temas:</span>
                                    {% set themes = item.themes %}
                                    {% for theme in themes %}
                                        <span><a href="{{ url_for('writing.theme', theme_id=theme.id) }}">{{ theme.public_id }}</a></span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div>
                                <span>Colaboradores:</span>
                                {% set collaborators = item.collaborators() %}
                                {% for collaborator in collaborators %}
                                    <span><a href="{{ url_for('user.index', user_id=collaborator.id) }}">{{ collaborator.public_id }}</a></span>
                                {% endfor %}
                            </div>
                      </div>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <h2> Nada acontecendo aqui, meu caro! </h2>
            {% endif %}
        </div>
	</div>
{% endblock %}
