{% extends 'layouts/base.html' %}

{% block content %}
	<div class="container">
        <div class="page-header">
          <h1>
              Profile
              <small>
                  {{ user.profile.privacy.label }}
              </small>
          </h1>
        </div>
        <div class="">
            <ul class="nav nav-pills nav-justified">
              <li role="presentation" class="active"><a data-toggle="tab" href="#user">Usuário</a></li>
              <li role="presentation"><a data-toggle="tab" href="#profile">Perfil</a></li>
              <li role="presentation"><a data-toggle="tab" href="#numbers">Meus Números</a></li>
            </ul>

            <div class="tab-content">
                <div id="user" class="tab-pane fade in active">
                    <h2>Informações de Usuário</h2>
                    <h4>Nome Público <small>{{ user.public_id }}</small></h4>
                    <h4>Email <small>{{ user.email }}</small></h4>
                    <h4>Papeis
                        <small>
                            {% for role in user.roles %}
                                {{ ',' if loop.index != 1}}
                                {{role.name}}
                            {% endfor %}
                        </small>
                    </h4>
                </div>

                <div id="profile" class="tab-pane fade in">
                    <h2>Informações de perfil</h2>
                    <h4>Nome completo <small>{{ user.profile.fullname}}</small></h4>
                    <h4>Nascimento <small>{{ user.profile.birth.strftime('%Y-%m-%d') if user.profile.birth else '<vazio>' }}</small></h4>
                    <h4>País <small>{{ user.profile.country if user.profile.country else '<vazio>' }}</small></h4>
                    <h4>Biografia <small>{{ user.profile.bio if user.profile.bio else '<vazio>' }}</small></h4>
                </div>

                <div id="numbers" class="tab-pane fade in">
                    <h3>Meus números</h3>
                    <h4>Textos <small>{{ user.writings|length }}</small></h4>
                    <!--<h4>Colaborações <small>{{ user.collaborations }}</small></h4>-->
                    <h4>Temas que gosto <small>{{ user.likes|length }}</small></h4>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
