{% extends 'layouts/base.html' %}

{% block content %}
	<div class="container">
        <div class="page-header">
          <h1> Settings <small></small></h1>
        </div>
        <div class="">
        </div>
	</div>
{% endblock %}
