{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    {% block title %}
        <!-- Rede colaborativa -->
    {% endblock %}

    {% block styles -%}
        {{super()}}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% endblock styles %}
{% endblock %}

{% block navbar %}
	{{ super() }}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home.index') }}"> Scrawley_ </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('writing.index') }}"> Meus textos </a></li>

                </ul>

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Buscar por... bem, qualquer coisa." size="40">
                      <a class="input-group-addon btn">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </a>
                    </div>
                </form>
            {% endif %}


            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home.help') }}">Quer ajuda?</a></li>

                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}"> Entrar </a></li>
                {% endif %}

                {% if current_user.is_authenticated %}
                {% if current_user.is_admin() %}
                    <li><a href="{{ url_for('admin.index') }}"> Admin </a></li>
                {% endif %}

                <li>
                    <a href="#">
                         <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                        Notificações <span class="badge">4</span> </a>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Olá, {{ current_user.name }}!<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li><a href="{{ url_for('user.index', user_id=current_user.id) }}"> Feed </a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="{{ url_for('user.profile') }}"> Perfil </a></li>
                        <li><a href="{{ url_for('user.settings') }}"> Configurações </a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="{{ url_for('auth.logout') }}"> Sair </a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}


{% block content %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="container">
                <div id='flash_message_container'>
                    {% for category, msg in messages %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}

    {% block footer %}
        <footer> 2016 Awesome, Inc.</footer>
    {% endblock %}
{% endblock %}
