{% extends 'layouts/base.html' %}

{% block scripts -%}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    {% for section in writing.sections %}
            <script>
                $(document).ready(function() {
                    text = `{{ section.text }}`
                    marked.setOptions({
                        breaks: true,
                        gfm: true
                    });
                    console.log(document.getElementById('text_'+'{{section.id}}'))
                    document.getElementById('text_'+'{{section.id}}').innerHTML =
                      marked(text);
                })
            </script>
    {% endfor %}
{% endblock %}

{% block content %}
	<div class="container">
        <div class="page-header-with-background" style="background-image:url('{{ writing.cover }}')">
          <h1> {{ writing.title }}
              <small> {{ writing.caption }}</small>
              <button type="button" class="btn btn-default pull-right" onclick="window.location.href='{{ url_for('writing.edit', writing_id=writing.id) }}'">
                Editar
            </button>
          </h1>

        </div>
        <div class="">
            {% for section in writing.sections %}
            <h3>{{ section.title }} <small>{{ section.caption }}</small></h3>
            <img src="{{ section.image }}" alt="" style="display:block;margin:0 auto">

            <p id="text_{{section.id}}">
                {{ section.text | truncate(250, True, '...') }}
            </p>
            <div class="pull-right">
                <a class="btn btn-default"
                        href="{{ url_for('writing.section_edit', writing_id=writing.id, section_id=section.id) }}">
                    <i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger"
                    href='{{ url_for('writing.section_remove', writing_id=writing.id, section_id=section.id) }}'">
                    <i class="fa fa-fire"></i>
                </a>
            </div>
            <br>
            <hr>
            {% endfor %}
            <a class="btn btn-default" href="{{ url_for('writing.section_new', writing_id=writing.id) }}">
                Nova seção
            </a>
            <a class="btn btn-default" href='{{ url_for('writing.index') }}'">
                Voltar para biblioteca
            </a>
            <br><br><br>
        </div>
	</div>
{% endblock %}
