{% from "macros/_form.html" import render_form, render_textarea %}

{% extends 'layouts/base.html' %}

{% block content %}
<form method="POST" url="{{url_for('writing.new', writing_item=writing_item) }}"
	<div class="container">
        <div class="page-header">
            <span>{{ writing_item.title.label }}
            <h1> {{ writing_item.title(class="form-control clean-input", placeholder=writing_item.title.description) }}
              <small> <span> {{ writing_item.caption.label }}</span>{{ writing_item.caption(class="form-control clean-input", placeholder=writing_item.caption.description) }}</small>
            </h1>

        </div>
        <div class="">
            {{ writing_item.csrf_token }}
            <span>{{ writing_item.privacy.label }}</span>
            {{ writing_item.privacy }}
            <span>{{ writing_item.cover.label }}</span>
            {{ writing_item.cover }}
            <hr>
            <button type="submit" class="btn btn-default">
                Criar
            </button>
        </div>
	</div>
{% endblock %}
