{% from "macros/_form.html" import render_form, render_textarea %}

{% extends 'layouts/base.html' %}

{% block content %}
<form method="POST" url="{{url_for('writing.new', form=form) }}"
	<div class="container">
        <div class="page-header">
            <span>{{ form.title.label }}
            <h1> {{ form.title(class="form-control clean-input", placeholder=form.title.description) }}
              <small> <span> {{ form.caption.label }}</span>{{ form.caption(class="form-control clean-input", placeholder=form.caption.description) }}</small>
            </h1>

        </div>
        <div class="">
            {{ form.csrf_token }}
            <span>{{ form.privacy.label }}</span>
            {{ form.privacy }}
            <span>{{ form.cover.label }}</span>
            {{ form.cover }}
            <hr>
            <button type="submit" class="btn btn-default">
                Criar
            </button>
        </div>
	</div>
{% endblock %}
