{% extends 'layouts/base.html' %}

{% block scripts -%}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        let text = `{{ section.text }}`
        marked.setOptions({
            breaks: true,
            gfm: true
        })
        document.getElementById('text').innerHTML =
          marked(text);
    </script>
{% endblock %}

{% block content %}
	<div class="container">
        <div class="page-header-with-background" style="background-image:url('{{ writing.cover }}')">
          <h1> {{ writing.title }}
              <small> {{ writing.caption }}</small>
              <a class="btn btn-default pull-right" type="button" class="btn btn-default pull-right"
                      href='{{ url_for('writing.section_edit', writing_id= writing.id, section_id=section.id) }}'">
                Editar
              </a>
          </h1>
        </div>
        <div class="">
            <h3>{{ section.title }} <small>{{ section.caption }}</small></h3>
            <img class="section-image" src="{{ section.image }}" alt="">
            <p id="text"></p>
            <hr>

        </div>
	</div>
{% endblock %}
