{% from "macros/_form.html" import render_form, render_textarea %}

{% extends 'layouts/base.html' %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block scripts -%}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        let w_id = `{{ writing.id }}`
        let s_id = `{{ section.id }}`
        let text = `{{ section.text }}`
        let simplemde = new SimpleMDE({
            element: document.getElementById("editor"),
            indentWithTabs: true
        });
        simplemde.value(text);
        simplemde.codemirror.on("change", function(){
            $.ajax({
                    url: `/writing/${w_id}/${s_id}/sync`,
                    type: 'POST',
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ text: simplemde.value() })
                })
                .done( (response) => console.log(response) )
                .error( (error) => console.log(error) );
        });
    </script>
{% endblock %}

{% block content %}
<form action="{{ url_for('writing.section_edit', writing_id=writing.id, section_id=section.id) }}" method=post>
	<div class="container">
        <div class="page-header-with-background" style="background-image:url('{{ writing.cover }}')">
            <h1>
                {{ writing.title }}
                <small> {{ writing.caption }} </small>
                <button type="submit" class="btn btn-default pull-right">
                    Salvar
                </button>
                <a class="btn btn-default pull-right" href="{{ url_for('writing.section_detail', writing_id=writing.id, section_id=section.id) }}">
                    Cancelar
                </a>
            </h1>
            Colaboradores:
            {% for collaborator in section.collaborators %}
                <span><a href="{{ url_for('user.index', user_id=collaborator.id) }}">{{ collaborator.public_id }}</a></span>
            {% endfor %}
        </div>
        <div class="">
            {{ form.csrf_token }}
            <h3>
                {{ form.title(class="form-control clean-input", placeholder=form.title.description) }}
                <small>{{ form.caption(class="form-control clean-input", placeholder=form.caption.description) }}</small></h3>
            <!--<img src="{{ section.image }}" alt=""><input type="file">-->
            <!--<textarea id="editor"></textarea>-->
            {{ form.text(id="editor", placeholder=form.text.description) }}
            <hr>

        </div>
	</div>
</form>
{% endblock %}
