{% extends 'layouts/base.html' %}

{% block content %}
	<div class="container">
        <div class="page-header">
          <h1> {{ theme.label }} </h1>
            <button type="button" class="btn btn-default" onclick="window.location.href='{{ url_for('writing.new') }}'">
                Criar texto com este tema
            </button>
        </div>
        <div class="">
            {% if items %}
            <ul class="media-list">
                {% for item in items %}
                <li class="media">
                    <div class="media-left">
                        <a href="{{ url_for('writing.detail', writing_id=item.id) }}">
                           <img src="{{ item.cover }}" alt="{{ item.title }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <button type="button" class="btn btn-default pull-right"
                                onclick="window.location.href='{{ url_for('writing.remove', writing_id=item.id) }}'"
                        > <i class="fa fa-burn"></i> </button>
                        <h4 class="media-heading"> {{ item.title }}
                            <small>
                                {% for theme in item.themes %}
                                    <span> <a href='{{ url_for('writing.theme', theme_id=theme.id) }}''> {{ theme.label }} </a> </span>
                                {% endfor %}
                            </small>
                        </h4>
                        <span>
                            {{ item.caption }}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h2> Nothing here, dude! </h2>
            {% endif %}
        </div>
	</div>
{% endblock %}
