{% extends 'layouts/base.html' %}

{% block content %}
	<div class="container-fluid">
        <div class="jumbotron">
            <h1> Want help <small> Really?</small> </h1>
            <span> Welcome to the scrawley app!</span>
        </div>
	</div>
{% endblock %}
