{% extends 'layouts/base.html' %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block content %}
	<div class="container-fluid">
        <div class="jumbotron hero-image">
            <h1> Olá </h1>
            <p> Bemvindo a rede de escrita colaborativa!
            </p>
        </div>
	</div>
{% endblock %}
