{% from "macros/_form.html" import render_form %}

{% set page_title = "Entrar" %}

{% extends "layouts/base.html" %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock styles %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <h2>
            Bem vindo! <small> Não tem uma conta? <a href="{{ url_for('auth.signup') }}">Cadastre-se</a>, por favor.</small>
        </h2>
        {{ render_form(url_for('auth.login'), form)}}
        <!--<div class="login-form">-->
            <!--<form id="login-form" class="text-left">-->
                <!--<div class="login-form-main-message"></div>-->
                <!--<div class="main-login-form">-->
                    <!--<div class="login-group">-->
                        <!--{{ form.csrf_token }}-->
                        <!--<div class="form-group">-->
                            <!--<label for="email">Email</label>-->
                            <!--{{ form.email(placeholder='seu_nome@email.com') }}-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="password">Senha</label>-->
                            <!--{{ form.password(type='password') }}-->
                        <!--</div>-->
                        <!--<div class="form-group login-group-checkbox">-->
                            <!--{{ form.remember }}-->
                            <!--<label for="remember">Lembrar de mim</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
                <!--</div>-->
                <!--<div class="etc-login-form">-->
                    <!--<p><a href="#">Esqueceu a senha?</a></p>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    </div>
{% endblock %}




