{% from "macros/_form.html" import render_form %}

{% set page_title = 'Cadastrar' %}

{% extends "layouts/base.html" %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock styles %}

{% block body %}
<div class="text-center" style="padding:50px 0">
        <h2>
            Cadastro <small>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Clique aqui</a>, então!.</small>
        </h2>
        <!--{{ render_form(url_for('auth.login'), form)}}-->
        <div class="login-form">
            <form id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="name">Nome</label>
                            {{ form.name(placeholder='Nome público') }}
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email(placeholder='seu_nome@email.com') }}
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            {{ form.password(type='password') }}
                        </div>
                        <div class="form-group">
                            <label for="password">Repita a senha</label>
                            {{ form.password(type='password') }}
                        </div>
                        <div class="form-group login-group-checkbox">
                            {{ form.agree }}
                            {{ form.agree.label }}
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
    </div>

    <!--{{ render_form(url_for('auth.signup'), form) }}-->
{% endblock %}