{% macro render_checkbox(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    <div class="controls">
        <label for="{{ field.id }}" class="checkbox inline">
            {{ field }}{{ field.label.text }}
        </label>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error|e }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro%}

{% macro render_radio(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {% for subfield in field -%}
        <label for="{{ subfield.id }}" class="radio inline">
            {{ subfield }} {{ subfield.label.text }}
        </label>
        {%- endfor %}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {{ field(class="span6") }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_select_optgroup(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        <select id="{{ field.id }}" name="{{ field.name }}" class="span6">
            {% for optgroup in field.choices.keys()|sort %}
            <optgroup name="{{ optgroup }}" label="----">
                {% for value, label in field.choices[optgroup] %}
                <option value="{{ value }}"> {{ label }} </option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_time_range_slider(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        <div class="time-picker">
	        <div id="time-slider">
		        <div id="slider-range"></div>
	        </div>
	        <div id="time"></div>
	        <div id="time-notify"></div>
        </div>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_datepicker(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
    	<div class="datetimepicker-no-time input-append">
        	{{ field() }}
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_datetimepicker(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        <div class="datetimepicker input-append date">
            {{ field() }}
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        {% for error in field.errors -%}
        <span class="help-block error">{{ error }}</span>
        {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_textarea(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {{ field(class="span6", rows="7", placeholder=field.description['placeholder']) }}
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_input(field) %}
<div class="control-group {% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {{ field }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_action(field) %}
<div class="control-group">
    <div class="form-actions">
        {{ field(class_="btn btn-info") }}
    </div>
</div>
{% endmacro %}

{% macro render_field(field) %}
{% if field.type == "RadioField" %}
    {{ render_radio(field) }}
{% elif field.type == "SelectField" %}
    {{ render_select(field) }}
{% elif field.type == "SelectOptgroupField" %}
    {{ render_select_optgroup(field) }}
{% elif field.type == "BooleanField" %}
    {{ render_checkbox(field) }}
{% elif field.type == "SubmitField" %}
    {{ render_action(field) }}
{% elif field.type == "TextAreaField" %}
    {{ render_textarea(field) }}
{% elif field.type == "DateField" %}
    {{ render_datepicker(field) }}
{% elif field.type == "DateTimeField" %}
    {{ render_datetimepicker(field) }}
{% elif field.type == "TimeRangeSliderField" %}
    {{ render_time_range_slider(field) }}
{% elif field.type == "TextField" %}
    {% if focus %}
    {{ render_input(field) }}
    {% set focus = False %}
{% else %}
    {{ render_input(field) }}
    {% endif %}
{% else %}
    {{ render_input(field) }}
{% endif %}
{% endmacro %}

{% macro render_form(url, form, horizontal=False, legend=None, confirm_msg=None) %}
<form class="{% if horizontal %}form-horizontal{% endif %}" method="POST" action="{{ url }}"
    {% if confirm_msg %}onsubmit='return confirm("{{ confirm_msg }}");' {% endif %}
    {% if form.multipart %}enctype="multipart/form-data"{% endif %} >
    {{ form.hidden_tag() }}
    {% set focus = True %}
    <fieldset required="true">
        {% for field in form %}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" and field.flags.required %}
                {{ render_field(field) }}
            {% endif %}
            {% if field.type == "TimeRangeSliderField" %}
                {{ render_field(field) }}
            {% endif %}
        {% endfor %}
    </fieldset>
    <fieldset required="false">
        {% for field in form %}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" and field.type != "TimeRangeSliderField" and not field.flags.required %}
                {{ render_field(field) }}
            {% endif %}
        {% endfor %}
    </fieldset>
</form>
{% endmacro %}